# requirements.txt for developers and contributers to the scan package. Specifies all the additional packages used to
# run its tests, build its documentation and use its development tools.

# Tests:
pytest == 8.3.*
pytest-cov == 6.0.*
pytest-mpi == 0.6.*
coverage == 7.6.*
tox == 3.27.*
tox-conda == 0.10.*

# Tools:
black == 24.10.*
isort == 5.13.*

# Type Hinting:
mypy == 1.13.*
types-setuptools == 75.5.*
pandas-stubs == 2.2.*

# Jupyter Notebooks:
jupyter == 1.1.*
notebook == 7.2.*
matplotlib>=3.0,<4.0

# Documentation
sphinx == 8.1.*
m2r2 == 0.3.*
autodocsumm == 0.2.*
nbsphinx == 0.9.*
sphinx_rtd_theme == 3.0.*
# pandoc==2.18.*  # Not available on pip?? Not sure what's going on with the package versions
# nbsphinx_link==1.3.*  # Not available on conda-forge